<%= render partial: "friend_requests" %>
<h1>Friends</h1>
<br/>
<div class="row">
  <%= render partial: "list_friends", locals: {users: @friends, page: :list} %>
</div>

<script>

  $('.request-confirm').click(function(e){
    e.preventDefault();
    $.ajax({
        url: this.href,
        method: 'POST',
        success: function(){
          window.location.reload();
        }
    });
  });

  $('.request-reject').click(function(e){
    e.preventDefault();
    $.ajax({
        url: this.href,
        method: 'DELETE',
        success: function(){
          window.location.reload();
        }
    });
  });

</script>