<% if @friend_requests && @friend_requests.size > 0%>
  <h1>You have pending friend requests!</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="well well-lg">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div>
              <% @friend_requests.each do |user|%>
                <%= user.name %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div>
              <% @friend_requests.each do |user|%>
                <a class="request-confirm" href="/friends/confirm/<%= user.id %>">Confirm</a>
                <a class="request-reject" href="/friends/<%= user.id %>">Reject</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<h1>Friends</h1>
<br/>
<div class="row">
  <%= render partial: "list_friends", locals: {users: @friends, page: :list} %>
</div>

<script>

  $('.request-confirm').click(function(e){
    e.preventDefault();
    $.ajax({
        url: this.href,
        method: 'POST',
        success: function(){
          window.location.reload();
        }
    });
  });

  $('.request-reject').click(function(e){
    e.preventDefault();
    $.ajax({
        url: this.href,
        method: 'DELETE',
        success: function(){
          window.location.reload();
        }
    });
  });

</script>