<p id="notice"><%= notice %></p>

<h1>Your Game Library</h1>

<table>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag "GameNight-logo.png", alt: game.title, size: "100x100" %></td>
        <td><%= game.title %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
