.account_form form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.account_form label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}

.account_form label{
    text-align: right;
    margin-right: 5px;
}
.account_form input {
  margin: 10px 0px;
}
.account_form button {
  margin: 10px 0px;
}
.account-input{
    display: inline;
    width: 200px;
}