// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-well .pawn-mask{
  left: 25px;
  top: 4px;
  z-index: 0;
  position: absolute;
}

.friend-well p{
  font-weight: bold;
  margin: 0px 0px 0px 24px;
  max-width:100%;
}

.friend-well {
  overflow: hidden;
}

.friend-search-bar{
  margin-bottom: 20px;
}

.request-confirm {
  padding-right: 10px;
}
.request-reject {
  padding-left: 13px;
  border-left:1px solid #cccccc;
}