<h1>Welcome to GameNight.</h1>
<p>GameNight helps you organize board game events with your friends. It's simple:</p>
<ol>
  <li><%= link_to 'Create an account.' ,:signup_form %></li>
  <li>Connect with your friends.</li>
  <li>Add your game collection.</li>
  <li>Organize an event.</li>
</ol>
<p>GameNight will show you which games are available among your friends attending. You can vote on what you want to play so that your friends know what to bring.</p>